.side-pub{
  background-color: #fff;
  box-shadow: 1px 1px 8px #eee;
  margin-top: 8px;
  .hd{
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #eee;
    padding:0 17px 0 29px;
    font-size: 18px;
    color:#333;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top:24px;
      left: 17px;
      width: 4px;
      height: 17px;
      background-color: #de2d33;
    }
  }
}

.side-cyzt{
  .c-info-list {
    padding: 10px 16px;
    ul {
      padding-left: 20px;
      padding-top: 15px;
      li {
        border-left: 1px solid #ddd;
        padding-bottom: 15px;
        i {
          margin-left: -10px;
          display: inline-block;
          float: left;
          background-color: #fff;
          @include sprite($t3);
        }
        .date {
          color: #999;
          font-size: 12px;
        }
        p {
          margin-left: 30px;

          color: #666;
          font-size: 14px;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
  .c-ad-box {
    padding: 20px 0 10px 0;
    .c-detail {
      width: 140px;
      color: #666666;
      font-size: 14px;
      padding-left: 10px;
    }
  }
}

.side-slider{
  .swiper-container{
    width: 272px;
    height: 272px;
    img{
      width: 272px;
      height: 272px;
    }
  }
  .swiper-pagination-bullet{
    width:26px;
    border-radius: 0px;
    height:6px;
    opacity: 1;
    background-color: #71757a;
  }
  .swiper-pagination-bullet-active{
    background-color: $base-color-2;
  }
}