.m-sa-list{
  .lists{
    margin-bottom: 60px;
    .item{
      height:260px;
      padding:32px 0;
      border-bottom: 1px dashed #e5e5e5;
      overflow: hidden;
      &:last-child{
        border: none;
      }
      .icon-sa-1{
        position: absolute;
        top:0;
        left:0;
      }
      .pic{
        width: 200px;
        height: 200px;
        float: left;
        &:hover{
          .picb{
            background-color: $base-color;
            color:#fff;
            &:before,&:after{
              background-color: #fff;
            }
          }
        }
      }
      .pict{
        width: 200px;
        height: 200px;
        border: 1px solid #eee;
        text-align: center;
        display: table-cell;
        vertical-align:middle;
        overflow: hidden;
        position: relative;
        img{
          vertical-align:middle;
          max-width: 200px;
          max-height: 200px;
        }
      }
      .picb{
        height:30px;
        line-height: 30px;
        text-align: center;
        background-color: #f3f3f3;
        color:$base-color;
        font-size: 14px;
        position: relative;
        vertical-align: middle;
        &:before,&:after{
          content:'';
          width: 28px;
          height: 2px;
          position: absolute;
          top:15px;
          background-color: $base-color;
        }
        &:before{
          left:24px;
        }
        &:after{
          right:24px;
        }
      }
      .info{
        float: left;
        padding-left: 20px;
        width: 394px;
        li{
          margin:6px 0 10px 0;
          font-size: 16px;
          color:#000;
        }
        .lab{
          width: 80px;
          float: left;
          font-size: 16px;
          color:#5e5e5e;
          display: inline-block;
          text-align:justify;
          text-align-last:justify;
        }
        .lab2{
          width:210px;
          float: left;
        }
        .enter-btn{
          display: block;
          width: 148px;
          height: 40px;
          line-height: 40px;
          color:#fff;
          background-color: #de2d33;
          font-size: 16px;
          text-align: center;
          border-radius: 5px;
          margin-top: 16px;
          &:hover{
            text-decoration: none;
            background-color: lighten(#de2d33,5%);
          }
        }
        .info-intro{
          width:280px;
          font-size: 14px;
          line-height: 26px;
        }
        .more{
          color:$base-color-2;
        }
      }
      .standrd{
        width: 260px;
        float: right;
        text-align: center;
        .tit{
          font-size: 16px;
          background-color: #f8f8f8;
          height:40px;
          line-height: 40px;
        }
        .cnt{
          font-size: 14px;
          color:#000;
          line-height: 24px;
          border-left:1px solid #eee;
          border-right:1px solid #eee;
        }
        .sitem{
          height:40px;
          line-height: 40px;
          border-bottom: 1px dashed #eee;
          font-size: 16px;
        }
      }
    }
  }
}