// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$a-name: 'a';
$a-x: 226px;
$a-y: 444px;
$a-offset-x: -226px;
$a-offset-y: -444px;
$a-width: 20px;
$a-height: 19px;
$a-total-width: 727px;
$a-total-height: 577px;
$a-image: '../images/sprite/index.png';
$a: (226px, 444px, -226px, -444px, 20px, 19px, 727px, 577px, '../images/sprite/index.png', 'a', );
$care-name: 'care';
$care-x: 662px;
$care-y: 407px;
$care-offset-x: -662px;
$care-offset-y: -407px;
$care-width: 24px;
$care-height: 17px;
$care-total-width: 727px;
$care-total-height: 577px;
$care-image: '../images/sprite/index.png';
$care: (662px, 407px, -662px, -407px, 24px, 17px, 727px, 577px, '../images/sprite/index.png', 'care', );
$code-name: 'code';
$code-x: 527px;
$code-y: 471px;
$code-offset-x: -527px;
$code-offset-y: -471px;
$code-width: 18px;
$code-height: 20px;
$code-total-width: 727px;
$code-total-height: 577px;
$code-image: '../images/sprite/index.png';
$code: (527px, 471px, -527px, -471px, 18px, 20px, 727px, 577px, '../images/sprite/index.png', 'code', );
$forgetpw1-name: 'forgetpw1';
$forgetpw1-x: 0px;
$forgetpw1-y: 189px;
$forgetpw1-offset-x: 0px;
$forgetpw1-offset-y: -189px;
$forgetpw1-width: 727px;
$forgetpw1-height: 55px;
$forgetpw1-total-width: 727px;
$forgetpw1-total-height: 577px;
$forgetpw1-image: '../images/sprite/index.png';
$forgetpw1: (0px, 189px, 0px, -189px, 727px, 55px, 727px, 577px, '../images/sprite/index.png', 'forgetpw1', );
$forgetpw2-name: 'forgetpw2';
$forgetpw2-x: 0px;
$forgetpw2-y: 126px;
$forgetpw2-offset-x: 0px;
$forgetpw2-offset-y: -126px;
$forgetpw2-width: 727px;
$forgetpw2-height: 55px;
$forgetpw2-total-width: 727px;
$forgetpw2-total-height: 577px;
$forgetpw2-image: '../images/sprite/index.png';
$forgetpw2: (0px, 126px, 0px, -126px, 727px, 55px, 727px, 577px, '../images/sprite/index.png', 'forgetpw2', );
$forgetpw3-name: 'forgetpw3';
$forgetpw3-x: 0px;
$forgetpw3-y: 0px;
$forgetpw3-offset-x: 0px;
$forgetpw3-offset-y: 0px;
$forgetpw3-width: 727px;
$forgetpw3-height: 55px;
$forgetpw3-total-width: 727px;
$forgetpw3-total-height: 577px;
$forgetpw3-image: '../images/sprite/index.png';
$forgetpw3: (0px, 0px, 0px, 0px, 727px, 55px, 727px, 577px, '../images/sprite/index.png', 'forgetpw3', );
$forgetpw4-name: 'forgetpw4';
$forgetpw4-x: 0px;
$forgetpw4-y: 63px;
$forgetpw4-offset-x: 0px;
$forgetpw4-offset-y: -63px;
$forgetpw4-width: 727px;
$forgetpw4-height: 55px;
$forgetpw4-total-width: 727px;
$forgetpw4-total-height: 577px;
$forgetpw4-image: '../images/sprite/index.png';
$forgetpw4: (0px, 63px, 0px, -63px, 727px, 55px, 727px, 577px, '../images/sprite/index.png', 'forgetpw4', );
$mark-name: 'mark';
$mark-x: 694px;
$mark-y: 407px;
$mark-offset-x: -694px;
$mark-offset-y: -407px;
$mark-width: 16px;
$mark-height: 16px;
$mark-total-width: 727px;
$mark-total-height: 577px;
$mark-image: '../images/sprite/index.png';
$mark: (694px, 407px, -694px, -407px, 16px, 16px, 727px, 577px, '../images/sprite/index.png', 'mark', );
$mark1-name: 'mark1';
$mark1-x: 0px;
$mark1-y: 444px;
$mark1-offset-x: 0px;
$mark1-offset-y: -444px;
$mark1-width: 105px;
$mark1-height: 19px;
$mark1-total-width: 727px;
$mark1-total-height: 577px;
$mark1-image: '../images/sprite/index.png';
$mark1: (0px, 444px, 0px, -444px, 105px, 19px, 727px, 577px, '../images/sprite/index.png', 'mark1', );
$mark2-name: 'mark2';
$mark2-x: 549px;
$mark2-y: 407px;
$mark2-offset-x: -549px;
$mark2-offset-y: -407px;
$mark2-width: 105px;
$mark2-height: 19px;
$mark2-total-width: 727px;
$mark2-total-height: 577px;
$mark2-image: '../images/sprite/index.png';
$mark2: (549px, 407px, -549px, -407px, 105px, 19px, 727px, 577px, '../images/sprite/index.png', 'mark2', );
$mark3-name: 'mark3';
$mark3-x: 549px;
$mark3-y: 380px;
$mark3-offset-x: -549px;
$mark3-offset-y: -380px;
$mark3-width: 105px;
$mark3-height: 19px;
$mark3-total-width: 727px;
$mark3-total-height: 577px;
$mark3-image: '../images/sprite/index.png';
$mark3: (549px, 380px, -549px, -380px, 105px, 19px, 727px, 577px, '../images/sprite/index.png', 'mark3', );
$mark4-name: 'mark4';
$mark4-x: 113px;
$mark4-y: 444px;
$mark4-offset-x: -113px;
$mark4-offset-y: -444px;
$mark4-width: 105px;
$mark4-height: 19px;
$mark4-total-width: 727px;
$mark4-total-height: 577px;
$mark4-image: '../images/sprite/index.png';
$mark4: (113px, 444px, -113px, -444px, 105px, 19px, 727px, 577px, '../images/sprite/index.png', 'mark4', );
$next-b-name: 'next-b';
$next-b-x: 662px;
$next-b-y: 380px;
$next-b-offset-x: -662px;
$next-b-offset-y: -380px;
$next-b-width: 32px;
$next-b-height: 14px;
$next-b-total-width: 727px;
$next-b-total-height: 577px;
$next-b-image: '../images/sprite/index.png';
$next-b: (662px, 380px, -662px, -380px, 32px, 14px, 727px, 577px, '../images/sprite/index.png', 'next-b', );
$next-name: 'next';
$next-x: 68px;
$next-y: 532px;
$next-offset-x: -68px;
$next-offset-y: -532px;
$next-width: 23px;
$next-height: 37px;
$next-total-width: 727px;
$next-total-height: 577px;
$next-image: '../images/sprite/index.png';
$next: (68px, 532px, -68px, -532px, 23px, 37px, 727px, 577px, '../images/sprite/index.png', 'next', );
$nexto-name: 'nexto';
$nexto-x: 0px;
$nexto-y: 532px;
$nexto-offset-x: 0px;
$nexto-offset-y: -532px;
$nexto-width: 29px;
$nexto-height: 45px;
$nexto-total-width: 727px;
$nexto-total-height: 577px;
$nexto-image: '../images/sprite/index.png';
$nexto: (0px, 532px, 0px, -532px, 29px, 45px, 727px, 577px, '../images/sprite/index.png', 'nexto', );
$phone-name: 'phone';
$phone-x: 553px;
$phone-y: 471px;
$phone-offset-x: -553px;
$phone-offset-y: -471px;
$phone-width: 13px;
$phone-height: 20px;
$phone-total-width: 727px;
$phone-total-height: 577px;
$phone-image: '../images/sprite/index.png';
$phone: (553px, 471px, -553px, -471px, 13px, 20px, 727px, 577px, '../images/sprite/index.png', 'phone', );
$prev-name: 'prev';
$prev-x: 37px;
$prev-y: 532px;
$prev-offset-x: -37px;
$prev-offset-y: -532px;
$prev-width: 23px;
$prev-height: 37px;
$prev-total-width: 727px;
$prev-total-height: 577px;
$prev-image: '../images/sprite/index.png';
$prev: (37px, 532px, -37px, -532px, 23px, 37px, 727px, 577px, '../images/sprite/index.png', 'prev', );
$prevo-name: 'prevo';
$prevo-x: 0px;
$prevo-y: 471px;
$prevo-offset-x: 0px;
$prevo-offset-y: -471px;
$prevo-width: 29px;
$prevo-height: 53px;
$prevo-total-width: 727px;
$prevo-total-height: 577px;
$prevo-image: '../images/sprite/index.png';
$prevo: (0px, 471px, 0px, -471px, 29px, 53px, 727px, 577px, '../images/sprite/index.png', 'prevo', );
$q-name: 'q';
$q-x: 499px;
$q-y: 471px;
$q-offset-x: -499px;
$q-offset-y: -471px;
$q-width: 20px;
$q-height: 20px;
$q-total-width: 727px;
$q-total-height: 577px;
$q-image: '../images/sprite/index.png';
$q: (499px, 471px, -499px, -471px, 20px, 20px, 727px, 577px, '../images/sprite/index.png', 'q', );
$qq-name: 'qq';
$qq-x: 317px;
$qq-y: 471px;
$qq-offset-x: -317px;
$qq-offset-y: -471px;
$qq-width: 24px;
$qq-height: 24px;
$qq-total-width: 727px;
$qq-total-height: 577px;
$qq-image: '../images/sprite/index.png';
$qq: (317px, 471px, -317px, -471px, 24px, 24px, 727px, 577px, '../images/sprite/index.png', 'qq', );
$register1-name: 'register1';
$register1-x: 605px;
$register1-y: 316px;
$register1-offset-x: -605px;
$register1-offset-y: -316px;
$register1-width: 48px;
$register1-height: 48px;
$register1-total-width: 727px;
$register1-total-height: 577px;
$register1-image: '../images/sprite/index.png';
$register1: (605px, 316px, -605px, -316px, 48px, 48px, 727px, 577px, '../images/sprite/index.png', 'register1', );
$register2-name: 'register2';
$register2-x: 613px;
$register2-y: 252px;
$register2-offset-x: -613px;
$register2-offset-y: -252px;
$register2-width: 48px;
$register2-height: 48px;
$register2-total-width: 727px;
$register2-total-height: 577px;
$register2-image: '../images/sprite/index.png';
$register2: (613px, 252px, -613px, -252px, 48px, 48px, 727px, 577px, '../images/sprite/index.png', 'register2', );
$register3-name: 'register3';
$register3-x: 549px;
$register3-y: 316px;
$register3-offset-x: -549px;
$register3-offset-y: -316px;
$register3-width: 48px;
$register3-height: 48px;
$register3-total-width: 727px;
$register3-total-height: 577px;
$register3-image: '../images/sprite/index.png';
$register3: (549px, 316px, -549px, -316px, 48px, 48px, 727px, 577px, '../images/sprite/index.png', 'register3', );
$register4-name: 'register4';
$register4-x: 669px;
$register4-y: 252px;
$register4-offset-x: -669px;
$register4-offset-y: -252px;
$register4-width: 48px;
$register4-height: 48px;
$register4-total-width: 727px;
$register4-total-height: 577px;
$register4-image: '../images/sprite/index.png';
$register4: (669px, 252px, -669px, -252px, 48px, 48px, 727px, 577px, '../images/sprite/index.png', 'register4', );
$registerstep1-name: 'registerstep1';
$registerstep1-x: 0px;
$registerstep1-y: 252px;
$registerstep1-offset-x: 0px;
$registerstep1-offset-y: -252px;
$registerstep1-width: 541px;
$registerstep1-height: 56px;
$registerstep1-total-width: 727px;
$registerstep1-total-height: 577px;
$registerstep1-image: '../images/sprite/index.png';
$registerstep1: (0px, 252px, 0px, -252px, 541px, 56px, 727px, 577px, '../images/sprite/index.png', 'registerstep1', );
$registerstep2-name: 'registerstep2';
$registerstep2-x: 0px;
$registerstep2-y: 380px;
$registerstep2-offset-x: 0px;
$registerstep2-offset-y: -380px;
$registerstep2-width: 541px;
$registerstep2-height: 56px;
$registerstep2-total-width: 727px;
$registerstep2-total-height: 577px;
$registerstep2-image: '../images/sprite/index.png';
$registerstep2: (0px, 380px, 0px, -380px, 541px, 56px, 727px, 577px, '../images/sprite/index.png', 'registerstep2', );
$registerstep3-name: 'registerstep3';
$registerstep3-x: 0px;
$registerstep3-y: 316px;
$registerstep3-offset-x: 0px;
$registerstep3-offset-y: -316px;
$registerstep3-width: 541px;
$registerstep3-height: 56px;
$registerstep3-total-width: 727px;
$registerstep3-total-height: 577px;
$registerstep3-image: '../images/sprite/index.png';
$registerstep3: (0px, 316px, 0px, -316px, 541px, 56px, 727px, 577px, '../images/sprite/index.png', 'registerstep3', );
$rg1-name: 'rg1';
$rg1-x: 173px;
$rg1-y: 471px;
$rg1-offset-x: -173px;
$rg1-offset-y: -471px;
$rg1-width: 32px;
$rg1-height: 32px;
$rg1-total-width: 727px;
$rg1-total-height: 577px;
$rg1-image: '../images/sprite/index.png';
$rg1: (173px, 471px, -173px, -471px, 32px, 32px, 727px, 577px, '../images/sprite/index.png', 'rg1', );
$rg2-name: 'rg2';
$rg2-x: 213px;
$rg2-y: 471px;
$rg2-offset-x: -213px;
$rg2-offset-y: -471px;
$rg2-width: 32px;
$rg2-height: 32px;
$rg2-total-width: 727px;
$rg2-total-height: 577px;
$rg2-image: '../images/sprite/index.png';
$rg2: (213px, 471px, -213px, -471px, 32px, 32px, 727px, 577px, '../images/sprite/index.png', 'rg2', );
$rg3-name: 'rg3';
$rg3-x: 133px;
$rg3-y: 471px;
$rg3-offset-x: -133px;
$rg3-offset-y: -471px;
$rg3-width: 32px;
$rg3-height: 32px;
$rg3-total-width: 727px;
$rg3-total-height: 577px;
$rg3-image: '../images/sprite/index.png';
$rg3: (133px, 471px, -133px, -471px, 32px, 32px, 727px, 577px, '../images/sprite/index.png', 'rg3', );
$s1-name: 's1';
$s1-x: 85px;
$s1-y: 471px;
$s1-offset-x: -85px;
$s1-offset-y: -471px;
$s1-width: 40px;
$s1-height: 33px;
$s1-total-width: 727px;
$s1-total-height: 577px;
$s1-image: '../images/sprite/index.png';
$s1: (85px, 471px, -85px, -471px, 40px, 33px, 727px, 577px, '../images/sprite/index.png', 's1', );
$s2-name: 's2';
$s2-x: 661px;
$s2-y: 316px;
$s2-offset-x: -661px;
$s2-offset-y: -316px;
$s2-width: 40px;
$s2-height: 38px;
$s2-total-width: 727px;
$s2-total-height: 577px;
$s2-image: '../images/sprite/index.png';
$s2: (661px, 316px, -661px, -316px, 40px, 38px, 727px, 577px, '../images/sprite/index.png', 's2', );
$s3-name: 's3';
$s3-x: 37px;
$s3-y: 471px;
$s3-offset-x: -37px;
$s3-offset-y: -471px;
$s3-width: 40px;
$s3-height: 38px;
$s3-total-width: 727px;
$s3-total-height: 577px;
$s3-image: '../images/sprite/index.png';
$s3: (37px, 471px, -37px, -471px, 40px, 38px, 727px, 577px, '../images/sprite/index.png', 's3', );
$s4-name: 's4';
$s4-x: 409px;
$s4-y: 471px;
$s4-offset-x: -409px;
$s4-offset-y: -471px;
$s4-width: 22px;
$s4-height: 23px;
$s4-total-width: 727px;
$s4-total-height: 577px;
$s4-image: '../images/sprite/index.png';
$s4: (409px, 471px, -409px, -471px, 22px, 23px, 727px, 577px, '../images/sprite/index.png', 's4', );
$s5-name: 's5';
$s5-x: 439px;
$s5-y: 471px;
$s5-offset-x: -439px;
$s5-offset-y: -471px;
$s5-width: 22px;
$s5-height: 23px;
$s5-total-width: 727px;
$s5-total-height: 577px;
$s5-image: '../images/sprite/index.png';
$s5: (439px, 471px, -439px, -471px, 22px, 23px, 727px, 577px, '../images/sprite/index.png', 's5', );
$s6-name: 's6';
$s6-x: 469px;
$s6-y: 471px;
$s6-offset-x: -469px;
$s6-offset-y: -471px;
$s6-width: 22px;
$s6-height: 23px;
$s6-total-width: 727px;
$s6-total-height: 577px;
$s6-image: '../images/sprite/index.png';
$s6: (469px, 471px, -469px, -471px, 22px, 23px, 727px, 577px, '../images/sprite/index.png', 's6', );
$s7-name: 's7';
$s7-x: 349px;
$s7-y: 471px;
$s7-offset-x: -349px;
$s7-offset-y: -471px;
$s7-width: 22px;
$s7-height: 23px;
$s7-total-width: 727px;
$s7-total-height: 577px;
$s7-image: '../images/sprite/index.png';
$s7: (349px, 471px, -349px, -471px, 22px, 23px, 727px, 577px, '../images/sprite/index.png', 's7', );
$s8-name: 's8';
$s8-x: 379px;
$s8-y: 471px;
$s8-offset-x: -379px;
$s8-offset-y: -471px;
$s8-width: 22px;
$s8-height: 23px;
$s8-total-width: 727px;
$s8-total-height: 577px;
$s8-image: '../images/sprite/index.png';
$s8: (379px, 471px, -379px, -471px, 22px, 23px, 727px, 577px, '../images/sprite/index.png', 's8', );
$search-name: 'search';
$search-x: 254px;
$search-y: 444px;
$search-offset-x: -254px;
$search-offset-y: -444px;
$search-width: 17px;
$search-height: 18px;
$search-total-width: 727px;
$search-total-height: 577px;
$search-image: '../images/sprite/index.png';
$search: (254px, 444px, -254px, -444px, 17px, 18px, 727px, 577px, '../images/sprite/index.png', 'search', );
$success-name: 'success';
$success-x: 549px;
$success-y: 252px;
$success-offset-x: -549px;
$success-offset-y: -252px;
$success-width: 56px;
$success-height: 54px;
$success-total-width: 727px;
$success-total-height: 577px;
$success-image: '../images/sprite/index.png';
$success: (549px, 252px, -549px, -252px, 56px, 54px, 727px, 577px, '../images/sprite/index.png', 'success', );
$user-name: 'user';
$user-x: 709px;
$user-y: 316px;
$user-offset-x: -709px;
$user-offset-y: -316px;
$user-width: 18px;
$user-height: 20px;
$user-total-width: 727px;
$user-total-height: 577px;
$user-image: '../images/sprite/index.png';
$user: (709px, 316px, -709px, -316px, 18px, 20px, 727px, 577px, '../images/sprite/index.png', 'user', );
$wechat-name: 'wechat';
$wechat-x: 285px;
$wechat-y: 471px;
$wechat-offset-x: -285px;
$wechat-offset-y: -471px;
$wechat-width: 24px;
$wechat-height: 24px;
$wechat-total-width: 727px;
$wechat-total-height: 577px;
$wechat-image: '../images/sprite/index.png';
$wechat: (285px, 471px, -285px, -471px, 24px, 24px, 727px, 577px, '../images/sprite/index.png', 'wechat', );
$weibo-name: 'weibo';
$weibo-x: 253px;
$weibo-y: 471px;
$weibo-offset-x: -253px;
$weibo-offset-y: -471px;
$weibo-width: 24px;
$weibo-height: 24px;
$weibo-total-width: 727px;
$weibo-total-height: 577px;
$weibo-image: '../images/sprite/index.png';
$weibo: (253px, 471px, -253px, -471px, 24px, 24px, 727px, 577px, '../images/sprite/index.png', 'weibo', );
$spritesheet-width: 727px;
$spritesheet-height: 577px;
$spritesheet-image: '../images/sprite/index.png';
$spritesheet-sprites: ($a, $care, $code, $forgetpw1, $forgetpw2, $forgetpw3, $forgetpw4, $mark, $mark1, $mark2, $mark3, $mark4, $next-b, $next, $nexto, $phone, $prev, $prevo, $q, $qq, $register1, $register2, $register3, $register4, $registerstep1, $registerstep2, $registerstep3, $rg1, $rg2, $rg3, $s1, $s2, $s3, $s4, $s5, $s6, $s7, $s8, $search, $success, $user, $wechat, $weibo, );
$spritesheet: (727px, 577px, '../images/sprite/index.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
