.side-tjjg{
  .bd{
    padding:0 14px;
    .item{
      padding:15px 0;
      text-align: center;
      img{
        width: 100%;
      }
    }
    .info{
      margin-top: 16px;
      text-align: left;
      line-height: 30px;
      a{
        font-size: 16px;
        color:$link-txt-color
      }
      p {
        line-height: 30px;
        color: #333333;
        .link {
          color: $link-txt-color
        }
      }
    }
  }
}

.side-companyinfo{
  margin-top: 0;
  border-top:4px solid #dd2d33;
  padding:34px 17px;
  text-align: center;
  img{
    width: 100px;
    height: 100px;
  }
  .cy-tit{
    margin-top: 26px;
    font-size: 19px;
    color: #333333;
    font-weight: 600;
  }
  .cy-info{
    margin-top: 20px;
    font-size: 15px;
    line-height: 26px;
    color: #333;
    text-align: left;
    text-indent: 30px;
  }
  .cy-op{
    margin-top: 30px;
    text-align: center;
    a{
      display: inline-block;
      width: 148px;
      height: 38px;
      line-height: 36px;
      font-size: 16px;
      color:#ff6600;
      text-align: center;
      border:1px solid #ff6600;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #fffbf8;
      &:hover{
        background-color: darken(#fffbf8,5%);
        text-decoration: none;
      }
    }
  }
}

.side-fwjg{
  .bd{
    padding:0 6px;
    li{
      padding-left: 26px;
      height:56px;
      line-height: 55px;
      border-bottom: 1px dashed #eee;
      &:last-child{
        border:none;
      }
    }
  }
}