<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${site_name!}-完善账户信息</title>

    <!-- Bootstrap -->
    <link href="${base}/assets/front/styles/qwui_base.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="${base}/assets/front/styles/qwui_ui.css" rel="stylesheet">
    <link href="${base}/assets/front/vendor/layui/css/layui.css" rel="stylesheet">

    <style>
        .parsley-errors-list {
            display: inline-block;
            color: #FF0000;
        }

        .parsley-errors-list + .mark {
            display: none;
        }

        .text-danger {
            color: #FF5722;
        }

        .input[readonly] {
            background-color: darkslategray;
        }
    </style>
</head>
<body>

<div class="m-login">
    <div class="login-hd">
        <div class="w1000">
            <a href="${base}/"><img src="${base}/assets/front/images/logo1.png"/></a>
        </div>
    </div>
    <div class="register-bd service-register">
        <div class="w1000 f-cb">
            <div class="hd-tit">完善您的账号信息</div>
            <form action="${base!}/sso/saveDetail" class="parsley-form" role="form" method="post" id="saveDetail"
                  data-parsley-validate>
                <input type="hidden" name="id" readonly hidden value="${obj.id!}"/>
                <div class="bd">
                    <div class="item">
                        <label class="labelkey">用户名<span class="text-danger">*</span>:</label>
                        <input class="input disabled" type="text" name="loginname" data-parsley-required="true"
                               placeholder="用户名"
                               style="width: 280px;"
                               readonly value="${obj.loginname!}"/>
                    </div>
                    <!--#if(isEmpty(obj.password)){#-->
                    <!--<div class="item">
                        <label class="labelkey">密码<span class="text-danger">*</span>:</label>
                        <input class="input disabled" id="password" type="text" name="password" data-parsley-required="true" placeholder="密码"
                               style="width: 280px;"
                                value=""/>
                    </div>
                    <div class="item">
                        <label class="labelkey">确认密码<span class="text-danger">*</span>:</label>
                        <input class="input disabled" type="text" name="rePassword" data-parsley-required="true" placeholder="确认密码"
                               style="width: 280px;" data-parsley-equalto="#password"
                                value=""/>
                    </div>-->
                    <!--#}#-->
                    <div class="item">
                        <label class="labelkey">昵称<span class="text-danger">*</span>:</label>
                        <input class="input" type="text" name="nickname" data-parsley-required="true" placeholder="昵称"
                               style="width: 280px;" value="${obj.nickname!}"/>
                    </div>
                    <div class="item">
                        <label class="labelkey">手机号码<span class="text-danger">*</span>:</label>
                        <input class="input" type="text" name="mobile" data-parsley-required-message="手机号码不能为空"
                               data-parsley-pattern="0?(13|14|15|17|18)[0-9]{9}" data-parsley-required="true"
                               maxlength="11" minlength="11"
                               data-parsley-required-message="手机号码不能为空" placeholder="手机号码"
                               data-parsley-pattern-message="手机号码格式不正确，请重新输入"
                               style="width: 280px;" value="${obj.mobile!}" <!--#if(isNotEmpty(obj.mobile)){#-->readonly
                        <!--#}#-->/>
                    </div>
                    <div class="item">
                        <label class="labelkey">选择用户类型<span class="text-danger">*</span>:</label>
                        <select name="userType" data-parsley-required="true" <!--#if(isNotEmpty(type)){#--> readonly
                        disabled<!--#}#--> class="input" style="width: 280px;">
                        <option<!--#if(isNotEmpty(type)&&type==1){#--> selected<!--#}#--> value="1" >企业</option>
                        <option<!--#if(isNotEmpty(type)&&type==2){#--> selected<!--#}#-->  value="2">创业者</option>
                        <option<!--#if(isNotEmpty(type)&&type==3){#--> selected<!--#}#-->  value="3">服务机构</option>
                        <option<!--#if(isNotEmpty(type)&&type==4){#--> selected<!--#}#-->  value="4">专家</option>
                        </select>
                    </div>

                    <div class="item">
                        <label class="labelkey"></label>
                        <button type="submit" class="input next register btn-parsley">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="login-foot">
        <div class="link"><a href="#">联系我们</a>|<a href="#">关于我们</a>|<a href="#">操作手册</a></div>
        <p>主管单位：合肥中小在线信息服务有限公司 建设单位：合肥中小在线信息服务有限公司</p>
        <p>Copyright (C) 2010-2017  www.smehf.cn  证书编码：皖ICP备13005515号-1</p>
    </div>
</div>

<!-- jQuery -->
<script src="${base}/assets/front/vendor/jquery/jquery.min.js"></script>
<!-- layui -->
<script src="${base}/assets/front/vendor/layui/layui.js"></script>
<script src="${base!}/assets/platform/vendor/parsleyjs/parsley.min.js"></script>
<script src="${base!}/assets/platform/vendor/parsleyjs/locale/${lang!}.js"></script>
<script src="${base!}/assets/platform/vendor/jquery.form/jquery.form.js"></script>
<script src="${base}/assets/front/scripts/login.js"></script>
<script>
    $(function () {
        layui.use('layer', function () {
            var layer = layui.layer;

            $("#saveDetail").ajaxForm({
                dataType: 'json',
                type: "post",
                beforeSubmit: function (arr, form, options) {

                },
                success: function (data, statusText, xhr, form) {
                    if (data.code == 0) {
                        window.location.href = "${base!}/sso/login?returnUrl=${returnUrl!}";
                    } else {
                        layer.alert(data.msg, {icon: 5})
                    }
                }
            });
        });
    });

</script>

</body>
</html>